/* Structure */
table {
  width: 100%;

  a {
    text-decoration: none;
  }

  .cart-action {
    width: 200px;
  }

  button {
    width: 200px;
  }

  .mat-header-cell {
    color: rgba(0,0,0,1);
  }
}

.mat-form-field {
  font-size: 14px;
  width: 30%;
}