/* Structure */
table {
  width: 100%;

  .product-image {
    width: 160px;
  }

  .img-small {
    padding: 10px 0;
    width: 120px;
    height: 120px;
  }

  tr.mat-row {
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }

  .cart-action {
    width: 200px;
  }

  button {
    width: 200px;
  }

  .mat-header-cell {
    color: rgba(0,0,0,1);
  }
}

.mat-form-field {
  font-size: 14px;
  width: 30%;
}