.table-actions {
  display: flex;

  table {
    width: 85%;
  }

  .actions {
    width: 180px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;

    button {
      margin-bottom: 10px;
    }
  }
}