.img-medium {
  width: 200px;
  height: 200px;
  vertical-align: middle;
  padding-bottom: 20px;
}

.product-description {
  font-size: 14px;
}

.table-actions {
  display: flex;

  table {
    width: 85%;
  }

  .actions {
    width: 200px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;

    button {
      margin-bottom: 10px;
    }
  }
}