<div class="table-actions">
  <div class="cart-content">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
      *ngIf="dataSource.data.length > 0; else noRecord">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Item</th>
        <td mat-cell *matCellDef="let element">
          <h3><a routerLink="/product/{{element.id}}">{{element.name}}</a></h3>
        </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element">
          {{element.quantity}}
        </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          {{element.price | currency}}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <ng-template #noRecord>
      <p>
        Nothing in cart. Please begin shopping from Angular Store.  
      </p>
    </ng-template>
  </div>
  <div class="actions">
    <button mat-raised-button (click)="goBack()">
        <mat-icon>chevron_left</mat-icon>
        <span>Back to store</span>
    </button>
    <div *ngIf="getCartSize() > 0">
      <button mat-raised-button color="primary">
        <mat-icon>shopping_cart</mat-icon>
        <span>Checkout using PayPal</span>
      </button>
      <button mat-raised-button color="primary">
        <mat-icon>shopping_cart</mat-icon>
        <span>Checkout using Google</span>
      </button>
      <button mat-raised-button color="warn" (click)="clearCart()">
        <mat-icon>delete_sweep</mat-icon>
        <span>Clear cart</span>
      </button>
    </div>
  </div>
</div>